@use './variables' as v;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: v.$background-color;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: v.$default-text-color;
}
